<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
			
  <link rel="stylesheet" href="/assets/css/contribute.css">
  <link rel="stylesheet" href="/assets/css/nav.css">
  <title>Contribute</title>
</head>
<body>
 
  <nav class="navbar navbar-expand-lg navbar-custom bg-primary fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#" style="color:white">JAANKARI</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link" href="./dashboard">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="./store">Stores near me</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="./blog">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./contribute">Contribute</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login/Signup</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

      
  <div class="container" id="text">
    <h1> 
      <span class="txt-type" data-wait="3000" data-words='["Let us join our hands and fight against corona","Contribute and help the needy ones"]'></span>
    </h1>
    <h2>#STAYHOMESTAYSAFE</h2>
    <br>
    <br>
    <br>

  </div>
  <div class="container">
   
    <ul class="timeline">
        
        <li>
            <div class="timeline-badge danger"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Donate to PM CARE FUND</h4>
              </div>
              <div class="timeline-body">
                  <p>Name of Account: PM CARES</p>
                  <p>Account Number: 2121PM20202</p>
                  <p>IFSC Code: SBIN0000691</p>
                  <p>Name of Bank and Branch: State Bank Of India,
                    New Delhi Main Branch</p>
              </div>
            </div>
          </li>
         
        <li class="timeline-inverted">
          <div class="timeline-badge warning"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">You can also use UPI</h4>
            </div>
            <div class="timeline-body">
              <p>UPI id:&nbsp;pmcares@sbi</p>
              
            </div>
          </div>
        </li>
       
       
        <li>
          <div class="timeline-badge info"></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4 class="timeline-title">You can also donate on:</h4>
            </div>
            <div class="timeline-body">
                <p> pmindia.gov.in</p>
                
              
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
            <div class="timeline-badge success"></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">You can also contact to near by NGO'S</h4>
              </div>
              <div class="timeline-body">
                <p></p>
                
              </div>
            </div>
          </li>
    
    </ul>
    <img src="/assets/img/map.PNG" class="center">
</div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="/assets/js/contribute.js"></script>
</body>
</html>