body{
    margin: 0%;
    background-color: #142850 !important;
    }
    .card{
        margin-right: auto;
        margin-left: auto;
        background-color: #fcf8e8 !important;
    }
    table{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        margin-top: 2%;
    }
    button{
        background-color: #0c7b93 !important;
    }
    hr{
        width:640px !important;
        border-top: solid !important;
        border-color: black solid !important;
    }
